.example-container {
  float: left;
  width: 300px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.example-form-field   {
  width: 800px;
  margin: 0 10px;
}
form {
  width: 800px;
  margin-left: 400px;
}
button {
  margin-right: 10px;
}
.list-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
